.table_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    margin-left: 30px;
}

.table_header_input {
    margin-left: 90px;
    border-radius: 5px;
		background-color: rgb(252, 244, 252);
    font-size: 14px;
		border: none;
		height: 45px;
		display: flex;
		align-items: center;
}
.table_header_input div{
	margin:0 20px;
	font-size: 20px;
	color: rgb(141, 140, 140);;

}
.table_header_input input {
	border-radius: 5px;
	background-color: rgb(252, 244, 252);
	font-size: 14px;
	padding: 5px 10px;
	width: 400px;
	border:  0px solid;
	height: 45px;
}
input:focus{
	outline: none;
}
::placeholder {
    color: rgb(0, 0, 0);
    font-size: 14px;
		color: rgb(141, 140, 140);;
}

.table_container {
    margin: 80px 180px;
    border: 0.1px ridge rgb(141, 140, 140);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.pagination_bottom {
    font-size: 15px;
    text-align: end;
    background-color: rgb(252, 244, 252);
    padding: 10px 20px 10px 0px;
    font-weight: bold;
    color: gray;
}

.pagination_index {
    margin-right: 40px;
}

.pagination_next {
    margin-left: 30px;
    cursor: pointer;
}
.pagination_previous {
    cursor: pointer;
}

.symbol_class {
    display: inline-block;
    background-color: #80bff7;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px;
    color: #0275d8;
    text-align: center;
		font-size: 12px;
		font-weight: bold;
}


.table_class {
    width: 100%;
}
.table_class_thead{
	background-color: rgb(252, 244, 252);
	height: 60px;
	border-top: 1px ridge rgb(141, 140, 140);
}
.table_class_thead tr th{
	color: gray;
	margin: 20px 0;
}

.table_class tbody tr{
	border-top: 1px ridge rgb(141, 140, 140);
}

.table_class tbody tr td{
	padding: 10px 0;
}

.view_table_class{
	background-color: rgb(252, 244, 252);
	text-align: center;
	padding: 10px 0;
	font-size: 13px;
	font-weight: bold;
}

.back_button {
	padding: 10px 10px;
	align-items: center;
	background-color: rgb(252, 244, 252);
	width: 100%;
}

.back_button_div {
	margin: 0 auto;
	width: fit-content;
	background-color:#6961d1;
	padding: 10px 25px;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}